body {
    display: flex;
   flex-direction: column;
    align-items: center;
}
.quess-letters {
    display: flex;
    flex-direction: row;
    margin-top: 3vh;
}

.game-ststus {
    margin-top: 3vh;
    display: flex;
    flex-direction: column;

}

.play-again {
    display: none;
}
.letter {
    width: 5vw;
    height: 5vw;
    background-color: bisque;
    border: 1px solid black;
    text-align: center;
    font-size: 2em;

}

